@media only screen and (max-width: 800px) {
    nav .nav_Link{
        position: absolute;
        right: 0;
        top: 8vh;
        height: 92vh;
        background-color: rgb(40, 41, 48);
        width: 50%;
        flex-direction: column;
        justify-content: space-around;
        transform: translateX(100%);
        transition:  0.4s ease-in;   
    }
     .toggle .line1{
        transform: rotate(-45deg) translate(-5px,6px );
        transition: 0.4s ease-in-out;
    }
     .toggle .line2{
      opacity: 0;
      transition: 0.4s ease-in-out;
    }  
     .toggle .line3{
      transform: rotate(45deg) translate(-5px,-6px );
      transition: 0.4s ease-in-out;
    }
    nav .nav-active{
        transform: translateX(0%);
    }
    .nav-links li{
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }
    .hero .hero_main{
        flex-direction: column;
        margin-top: 5rem;
    }
    .hero .item{
        text-align: center
    }
    .hero .hero_main .item p {
        font-size: 19px;
    }
    .hero .hero_main .item h5{
        font-size: 2rem;
    }
    .hero .hero_main .item h6{
        font-size: 16px
    }
    .hero .hero_main .profile .img img{
        width: 250px;
        margin-top: 4rem;
        background: linear-gradient(
            90deg,
            rgba(155, 62, 62, 0.438) 0%,
            rgba(226, 127, 97, 0.144) 100%
          );
        border-radius: 10rem 10rem 0rem 0rem;
        overflow-x: hidden;
    }
    .burger{
        display: block;
        transition: all .4s ease-in-out;
    }


    /* ------------------about-------------------------- */
    .about{
        width: 100%;
        margin-top: 10rem;
        padding: 0rem 2rem;
    }
    .about h5{
        font-size: 2rem;
    }
    .about p{
        font-size: 14px;
    }
    .about_item{
        flex-direction: column;
        justify-content: center;
    }
    .about_item .about_card1{
        width: 50%;
        margin: auto;
        padding-top: 2rem;
    }
    .about_item .about_card1 img{
        width: 100%;
        border-radius: 10rem 10rem 0rem 0rem;

    }
    .about_item .about_card2{
        width: 100%;
        margin: auto;
        padding-top: 4rem;
    }
    .about_card2 .about_cardItem h5{
        font-size: 16px;
    }
    .about_card2 .about_cardItem p{
        font-size: 14px;
        overflow: hidden;
        margin-top: 0rem;
    }



/* ----------------------skill--------------------------- */
    .skill{
        width: 100%;
        padding: 1rem;
    }
    .skill h2{
        font-size: 2rem;
    }
    .skill .skill_item .skill_row{
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    /* -------------------project-------------------- */
    .project{
        width: 100%;
        padding: 1rem;
    }
    .project p{
        font-size: 14px;
    }
    .project h4{
        font-size: 2rem;
    }
    .project .project_item .project_row{
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
    }
    .project .project_item .project_row .project_card{
        margin: 1rem;
    }

    /* -------------------Blog---------------------------- */
    .blog{
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }
    .blog h4{
        font-size: 2rem;
    }
    .blog .blog_item .blog_row{
        margin: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .blog .blog_item .blog_row .Blog_card{
        margin: 1rem;
    }

    /* --------------------------contact-------------------- */
    .contact{
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    .contact h5{
        font-size: 2rem;
    }
    .contact_item{
        margin-top: .7rem;
    }
    .contact_item .contact_row{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .contact_item .contact_row .contact_card{
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .contact_item .contact_row .contact_card h6{
        font-size: 1.2rem;
        color: rgba(106, 132, 150, 0.897);
        font-weight: 500;
    }
    .contact_item .contact_row .contact_card p{
        font-size: 17px;
        color: rgba(240, 248, 255, 0.644)
    }
    .contact_item .contact_row .contact_card1 {
        width: 100%;
        margin-top: 3rem;
    }
};


